{% from "_renderfield.html" import renderfield %}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title">About Wine Predictor</h4>
  </div>
  <div class="panel-body">Wine Predictor helps you understand the quality of a wine based on 130,000+ expert reviews. Whether you are purchasing a wine, were gited one or simply want to check the score of a wine for curiosity or hobbyist purposes, we will provide you a 1- to 5-star score.
  </div>
</div>


<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title">Get wine score</h4>
  </div>
  <div class="panel-body">

   <form method="POST" action="{{ url_for('submitwine') }}">
      {{ ws_form.csrf_token }}
      {{ renderfield(ws_form.variety) }}
      {{ renderfield(ws_form.winery) }}
      {{ renderfield(ws_form.country) }}
      {{ renderfield(ws_form.province) }}
      {{ renderfield(ws_form.year) }}
      {{ renderfield(ws_form.price) }}
      {{ renderfield(ws_form.price_currency) }}
      {{ renderfield(ws_form.description) }}

      <input type="submit" value="Submit">
  </form>
  </div>
</div>

{% if display_added_record %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title">Results</h4>
  </div>
  <div class="panel-body">

    <h4>👍 This is your wine's score:</h4>
    <h2>{{ api_results_2 }}/5 {{ api_stars }}</h2>
    <br>
    API-fetched weather forecast for the COUNTRY you inputted is:
    <br>
    {{ api_results }}
<br><br><br>


    <h4>These are your wine's details:</h4>

      <table class="table">

          <tr class="row">
           <td class="cell"><b>Variety</b></td>
           <td class="cell">{{ input_variety }}</td>
          </tr>

          <tr class="row">
           <td class="cell"><b>Winery</b></td>
           <td class="cell">{{ input_winery }}</td>
          </tr>

          <tr class="row">
           <td class="cell"><b>Country</b></td>
           <td class="cell">{{ input_country }}</td>
          </tr>

          <tr class="row">
           <td class="cell"><b>Province</b></td>
           <td class="cell">{{ input_province }}</td>
          </tr>

          <tr class="row">
           <td class="cell"><b>Year</b></td>
           <td class="cell">{{ input_year }}</td>
          </tr>

          <tr class="row">
           <td class="cell"><b>Price</b></td>
           <td class="cell">{{ input_price }} {{ input_price_currency }} | {{ price_usd }} USD</td>
          </tr>

          <tr class="row">
           <td class="cell"><b>Description</b></td>
           <td class="cell">{{ input_description }}</td>
          </tr>
      </table>


  </div>
</div>

  {% else %}
  {% endif %}




