{% from "_renderfield.html" import renderfield %}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Score</h3>
  </div>
  <div class="panel-body">


      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">Get wine score</h4>
        </div>
        <div class="panel-body">

         <form method="POST" action="{{ url_for('submitwine') }}">
            {{ ws_form.csrf_token }}
            {{ renderfield(ws_form.wine_type) }}
            {{ renderfield(ws_form.year) }}
            <input type="submit" value="Submit">
        </form>



        {% if display_added_record %}
        <h4>👍 This is the wine score:</h4>
        {% else %}
        {% endif %}


        </div>
      </div>





  </div>
</div>
